*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.page-actions-cont{
    height: 3rem;
    background-color: rgb(8, 134, 92);
    display: flex;
    align-items: flex-end;
}
.page-actions{
    margin: 0.5rem;
    color:#ecf0f1;
}
.cell-actions-cont{
    height: 3rem;
    background-color: brown;
}
.formula-actions-cont{
    height: 3rem;
    background-color: blueviolet;
}

.sheet-cont{
    height: 3rem;
    background-color: aqua;
}
.grid-actions-cont{
    height: calc(100vh - 3rem - 3rem - 3rem - 3rem);
  
}
