* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.page-actions-cont {
  height: 3rem;
  background-color: rgb(8, 134, 92);
  display: flex;
  align-items: flex-end;
}
.page-actions {
  margin: 1rem;
  color: #ecf0f1;
}
.cell-actions-cont {
  height: 3rem;
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
  padding-left: 1rem;
 
}
.cell-actions-cont :hover{
  cursor: pointer;
}
.cell-actions-cont > * {
  display: inline-block;
  margin-right: 1rem;
}
.font-family-prop {
  padding: 0.2rem;
  border-radius: 2px;
  outline: none;
}
.font-size-prop {
  padding: 0.2rem;
  border-radius: 2px;
  outline: none;
}
.formula-actions-cont {
  height: 2rem;
  background-color: #ecf0f1;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}
.formula-actions-cont > * {
  display: inline-block;
  margin-right: 0.5rem;
}
.formula-actions-cont > input {
  border: none;
  outline: none;
  height: 60%;
}
.formula-icon {
  width: 1.2rem;
}
.address-bar {
  width: 5rem;
  text-align: center;
}
.formula-bar {
  width: calc(100vw - 5rem - 0.5rem - 0.5rem - 0.5rem);
}

.sheet-cont {
  height: 3rem;
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 1rem; */
  /* padding-left: 0.5rem; */
  /* padding-right: 0.5rem; */
}
.sheet-cont > * {
  display: inline-block;
}
.sheet-add-icon {
  width: 2vw;
  margin-left: 0.6rem;
  margin-right: 0.3rem;
}
.sheet-add-icon:hover{
  cursor: pointer;
}
.sheets-folder-cont {
  display: flex;
  align-items: center;
  height: 80%;
  width: calc(100vw - 2vw);
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  overflow: auto;

  /* background-color: violet; */
}

.sheet-folder {
  text-decoration: underline;
  font-weight: bold;
  text-decoration-thickness: 2px;
  margin-left: 0.5rem;
  margin-right: 0.8rem;
  padding: 0.3rem;
}
.sheet-folder:hover{
  cursor: pointer;
}

.grid-actions-cont {
  height: calc(100vh - 3rem - 3rem - 2rem - 3rem);
  position: relative;
  overflow: scroll;
  background-color: #ecf0f1;
}

.top-left-dummy {
  height: 2rem;
  width: 2rem;
  background-color: rgb(152, 155, 155);
  position: fixed;
  z-index: 2;
}
.address-col-cont {
  position: sticky;
  top: 2rem;
  left: 0;
}
.address-row-cont {
  /* height: 2rem; */
  display: flex;
  position: sticky;
  top: 0;
  left: 2rem;
}
.cell-cont {
  position: absolute;
  top: 0;
  left: 2rem;
}
.address-col {
  height: 2rem;
  width: 2rem;
  border: 1px solid #dfe4ea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.address-row {
  height: 2rem;
  width: 5rem;
  border: 1px solid #dfe4ea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-cont {
  display: flex;
}
.cell {
  height: 2rem;
  width: 5rem;
  border: 1px solid #dfe4ea;
  outline: none;
}
.color-prop {
  position: relative;
}
.color-prop > input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
